<nav class="footer navbar navbar-expand-md fixed-bottom">
    <img src="/docs/alligator-bracket.svg" width="20" height="20" class="d-inline-block align-top" alt="">
    <small class="footer">&copy; 2017 Prefegator</small>
    <img src="/docs/alligator-bracket-reversed.svg" width="20" height="20" class="d-inline-block align-top" alt="">
</nav>