<nav class="navbar fixed-top">
    <a class="navbar-brand" href="#">
          <img src="/docs/alligator-bracket.svg" width="30" height="30" class="d-inline-block align-top" alt="">
          Prefegator
          <img src="/docs/alligator-bracket-reversed.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        </a>
</nav>