<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Prefegator</title>
    <% include partials/_head.ejs%>
  </head>
  <body>
    <% include partials/_header.ejs%>
    <div class="container text-center page-content">
      <h6>The web's premier alligator-based preference aggregator</h6>
      
      <div class="container">
          <form id="create-poll-form" method="POST" action="/">
            <div class="container">
              <input type="textarea" placeholder="Your email">
              <input type="textarea" placeholder="Decision">
            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Option</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
              <tr>
                  <td>Alligator</td>
                  <td>Description</td>
                  <td><button class="btn btn-success">Delete</button></td>
                </tr>
                <tr>
                  <td>Crocodile</td>
                  <td>Description</td>
                  <td><button class="btn btn-success">Delete</button></td>
                </tr>
                <tr>
                  <td>Caiman</td>
                  <td>Description</td>
                  <td><button class="btn btn-success">Delete</button></td>
                </tr>
                <tr>
                 <td><input type="textarea" placeholder="New item"></td>
                 <td><input type="textarea" placeholder="New Description"></td>
                 <td><button class="btn btn-success">Add</button></td>
                </tr>
              </tbody>
            </table>
            
            <button class="submit btn">Submit</button>
          </form>
        </div>
        
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col">
                <span>Alligator</span>
              </div>
              <div class="col">
                <span>Description</span>
              </div>
              <div class="col">
                <button class="btn btn-success">Delete</button>
              </div>
                
            </div>
          </li>
          <li class="list-group-item">
              <div class="row">
                <div class="col">
                  <span>Crocodile</span>
                </div>
                <div class="col">
                  <span>Description</span>
                </div>
                <div class="col">
                  <button class="btn btn-success">Delete</button>
                </div>  
              </div>
          </li>
          <li class="list-group-item">
              <div class="row">
                <div class="col">
                  <span>Caiman</span>
                </div>
                <div class="col">
                  <span>Description</span>
                </div>
                <div class="col">
                  <button class="btn btn-success">Delete</button>
                </div>  
              </div>
          </li>
          </ul>
        
  </body>
</html>
      <% include partials/_footer.ejs%>
    </div>
  </body>
</html>
