<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Prefegator</title>
    <% include partials/_head.ejs%>
  </head>
  <body>
    <% include partials/_header.ejs%>
    <div class="container text-center page-content">
      <h6>What do you need to decide?</h6>
      
      <div class="container">
          <form id="create-poll-form" method="POST" action="/">
            <div>
              <input type="textarea" placeholder="Email">
              <input type="textarea" placeholder="Decision">
            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Option</th>
                  <th>Description</th>
                </tr>
              </thead>
                <tr>
                  <td>Alligator</td>
                  <td>Description</td>
                  <td><button>Delete</button></td>
                </tr>
                <tr>
                  <td>Crocodile</td>
                  <td>Description</td>
                  <td><button>Delete</button></td>
                </tr>
                <tr>
                  <td>Caiman</td>
                  <td>Description</td>
                  <td><button>Delete</button></td>
                </tr>
                <tr>
                 <td><input type="textarea" placeholder="New item"></td>
                 <td><input type="textarea" placeholder="New Description"></td>
                 <td><button>Add</button></td>
                </tr>
            </table>

            <button class="submit">Submit</button>
          </form>
      </div>
  

  </body>
</html>
      <% include partials/_footer.ejs%>
    </div>
  </body>
</html>
