<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Prefegator</title>
    <% include partials/_head.ejs%>
  </head>
  <body>
    <div class="container starter-template">
      <% include partials/_header.ejs%>
      <h6> One liner for 'how to use this'</h6>
      <div class="container">
          <form action="">
            <input type="textarea" placeholder="Decision">
            <input type="textarea" placeholder="Email">
            <input type="textarea" placeholder="Option">
            <input type="textarea" placeholder="Description">
            <button class="submit">Submit</button>
          </form>
      </div>
  

  </body>
</html>

      <% include partials/_footer.ejs%>
    </div>
  </body>
</html>
