<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Prefegator</title>
    <% include partials/_head.ejs%>
  </head>
  <body>
    <% include partials/_header.ejs%>
    <div class="container text-center page-content">
      <div class="jumbotron welcome">
        <h4>The web's premier alligator-based preference aggregator</h4>
        <p>Having trouble deciding on what to do? Try Prefegator and let your friends help you</p>
        
        <div class="container user-input">
          <form id="create-poll-form" method="POST" action="/">
            <input type="textarea" placeholder="Your email">
            <input type="textarea" placeholder="Decision">
          </div><!--container user-input-->
      </div><!--jumbotron welcome-->
        
      <div class="container add-list">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col">
                <span>Alligator</span>
              </div><!--col-->
              <div class="col">
                <i class="list-buttons fa fa-minus-square-o fa-2x"></i>
              </div><!--col-->
            </div><!--row-->
          </li>
          <li class="list-group-item">
              <div class="row">
                <div class="col">
                  <span>Crocodile</span>
                </div><!--col-->
                <div class="col">
                  <i class="list-buttons fa fa-minus-square-o fa-2x"></i>
                </div><!--col-->
              </div><!--row-->
          </li>
          <li class="list-group-item">
              <div class="row">
                <div class="col">
                  <span>Caiman</span>
                </div><!--col-->
                <div class="col">
                  <i class="list-buttons fa fa-minus-square-o fa-2x"></i>
                </div> <!--col-->
              </div><!--container-->
          </li>
          <li class="list-group-item">
              <div class="row">
                <div class="col">
                  <input type="textarea" placeholder="Add an item">
                </div>
                <div class="col">
                    <i class="list-buttons fa fa-plus-square-o fa-2x"></i>
                </div> <!--col-->
              </div><!--row-->
            </li>
          </ul>
        </div><!--container-->
  </body>
</html>
      <% include partials/_footer.ejs%>
    </div>
  </body>
</html>
