<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Prefegator</title>
    <% include partials/_head.ejs%>
  </head>
  <body>
    <% include partials/_header.ejs%>
    <div class="container text-center">
      <div class="jumbotron welcome">
        <h4>The web's premier alligator-based preference aggregator</h4>
        <p>Having trouble deciding on what to do? Try Prefegator and let your friends help you</p>
          <div class="form-group row">
            <input type="email" class="form-control col-8" id="email" placeholder="Your email">
          </div>
          <div class="form-group row">
            <input type="text" class="form-control col-8" id="decision" placeholder="Name your query">
          </div>
          <div class="form-group row poll-description">
              <textarea class="form-control col-8" rows="3" placeholder="Briefly describe what you would like to decide on"></textarea>
          </div>
    </div><!--jumbotron welcome-->
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col">
              <span class="item-name">Alligator</span>
            </div><!--col-->
            <div class="col">
              <i class="list-buttons fa fa-minus-square-o fa-2x"></i>
            </div><!--col-->
          </div><!--row-->
          <div class="row">
              <small>Who doesn't like alligators?</small>
            </div><!--row-->
        </li>
        <li class="list-group-item">
            <div class="row">
              <div class="col">
                <span class="item-name">Crocodile</span>
              </div><!--col-->
              <div class="col">
                <i class="list-buttons fa fa-minus-square-o fa-2x"></i>
              </div><!--col-->
            </div><!--row-->
            <div class="row">
                <small>Crocodiles are fine I guess</small>
              </div><!--row-->
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col">
              <span class="item-name">Caiman</span>
            </div><!--col-->
            <div class="col">
              <i class="list-buttons fa fa-minus-square-o fa-2x"></i>
            </div> <!--col-->
          </div><!--row-->
          <div class="row">
            <small>Seriously? Caimans?</small>
          </div><!--row-->
        </li>
        <li class="list-group-item list-add-option">
            <form id="create-option-form" method="POST" action="/polls">
              <div class="form-group row">
                  <input type="text" class="add-option-name form-control col" placeholder="Add an item">
                <div class="col">
                    <i class="list-buttons fa fa-plus-square-o fa-2x add-option"></i>
                </div><!--col-->
              </div><!--row-->
              <div class="row">
                <input type="text" class="form-control col-6" placeholder="Add a description (optional)">
              </div>
            </form>
          </li>
        </ul>
        <form id="create-poll-form" method="POST" action="/polls">
          <div class="button-submit">
            <button class="btn btn-success">Create poll!</button>
          </div>
        </form>
      <% include partials/_footer.ejs%>
    </div>
  </body>
</html>
