<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Prefegator</title>
    <% include partials/_head.ejs%>
  </head>
  <body>
    <% include partials/_header.ejs%>


    <h2>This is some content</h2>
    Lorem ipsum dolor sit amet, nisi fusce arcu etiam interdum eros iaculis, viverra condimentum mattis justo vestibulum pede, nisl proin urna cras est, metus cras per mattis nunc quis eros. Wisi vestibulum ornare. Nisl felis dis tellus. Duis eget risus luctus risus elementum eget. Dolor amet ad et molestie posuere ultricies, mollis quis.
    Ac faucibus a sem, vehicula duis, pede lectus etiam sodales, mauris non ut pellentesque, wisi auctor eligendi hac. Mauris sit, scelerisque consequat ultrices ac aenean felis, neque arcu lectus ut, parturient massa magna dui volutpat purus tincidunt, pede consequat at. Lobortis fames quis magnis vitae semper eu, pede enim, nec lacinia sed donec fusce ut, sed egestas, purus fames curabitur elit. Vivamus ultrices et, sem conubia dolor ut mauris nunc. Suspendisse nec ac arcu gravida, duis vitae, curae enim egestas sed luctus libero lacinia, elementum elit, diam velit tincidunt massa euismod. Nulla augue in neque, neque nonummy, est lacus amet justo adipiscing ullamcorper. Tortor risus leo est aenean in vestibulum, cras velit leo nam, volutpat magna id cursus vivamus. Vitae nulla nulla pellentesque dictumst a, urna ac nec eleifend, urna potenti commodo a sodales gravida accumsan. Diam excepturi, felis molestie donec vestibulum sit, nec non sem a aenean tempus eleifend. Lectus nibh amet urna, quam elit scelerisque non magna et wisi, nunc gravida turpis, risus arcu vulputate enim a, integer vestibulum non tellus non neque. Ut at ac luctus officia suspendisse. Phasellus elit neque lacus volutpat semper amet, donec sem rutrum venenatis faucibus vivamus elit, mi sed ridiculus.
    

    <% include partials/_footer.ejs%>
  </body>
</html>
