<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head.ejs%>
  </head>
  <body>
    <% include partials/_header.ejs%>


    <h1>Poll Created!</h1>

<<<<<<< HEAD
    <div>
      <a href="link">Voting link</a>
      <p> Send this link to your friends so they can vote!</p>
    </div>
    <div>
      <a href="link">Results</a>
      <p> Use this link to see the voting result.</p>
    </div>
    <div>
      The links above were also sent to the following email address:
      <a href="email link">email</a>
    </div>
    <div>
      The poll will expire in x amount of time.
    </div>
    <% include views/partials/_footer.ejs%>
=======
    <% include partials/_footer.ejs%>
>>>>>>> master
  </body>
</html>
