<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head.ejs%>
  </head>


    <body>
        <% include partials/_header.ejs%>
        <div class="container text-center">
          <div class="jumbotron welcome">
            <h2>Poll name - Results:</h2>
            <h4>Poll description</h4>
            <p>Description of the thing that you were voting on.</p>
          </div><!--jumbotron welcome-->
            <ul class="list-group">
              <div class="list-group">
                <li class="list-group-item list-group-item-action flex-column align-items-start winner">
                  <div class="d-flex w-100 justify-content-between">
                    <h5>Rank: 1</h5>
                    <h4 class="mb-1">Winner! Alligator</h4>
                    <h5 class="mb-1">(Your rank)</h5>
                  </div>
                  <div class="d-flex w-100 pt-3">
                    <p>Description of the thing that won.</p>
                  </div>
                </li>
              </div>
              <li class="list-group-item">2. Crocodile</li>
              <li class="list-group-item">3. Caiman</li>
            </ul>
          <% include partials/_footer.ejs%>
        </div>
      </body>
</html>
