<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head.ejs%>
  </head>


    <body>
        <% include partials/_header.ejs%>
        <div class="container text-center page-content">
          <div class="jumbotron welcome">
            <h4>These are your results:</h4>
          </div><!--jumbotron welcome-->
          
          <div class="container add-list">
            <ol class="list-group">
              <li class="list-group-item winner">1. Alligator</li>
              <li class="list-group-item">2. Crocodile</li>
              <li class="list-group-item">3. Caiman</li>
          </div><!--container add-list-->
          <% include partials/_footer.ejs%>
        </div>
      </body>

</html>
