<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head.ejs%>
  </head>
  <body>
    <% include partials/_header.ejs%>
  <div class="container text-center page-content">
    <h1><%= poll.name %></h1>
    <div>
      <%= poll.desc %>
    </div>
      <div class="container">
        <form id="vote-poll-form" method="POST" action="/polls">
          <ul class="list-group" id="sortable">

            <% for(const option of poll.options) { %>
              <li class="list-group-item ui-state-default">
                <div class="row">
                  <div class="col">
                    <span class="item ui-icon ui-icon-arrowthick-2-n-s" ><%= option.name %></span>
                  </div>
                  <div class="col">
                    <span class="ui-icon ui-icon-arrowthick-2-n-s"><%= option.desc %></span>
                  </div>
                </div>
              </li>
            <% } %>
          </ul>
          <div>
            <button class="submit btn">Submit</button>
          </div>
        </form>
      </div>
    </div>

    <% include partials/_footer.ejs%>
  </body>
</html>
