<!DOCTYPE html>
<html lang="en">
  <head>
    <% include views/partials/_head.ejs%>
  </head>
  <body>
    <% include views/partials/_header.ejs%>


    <h1>Hello World!</h1>


    <% include views/partials/_footer.ejs%>
  </body>
</html>
