@import "../node_modules/bootstrap/scss/bootstrap";

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.navbar {
    background-color: #4C6B2B;
    .navbar-brand{
        color: #F8FCFF;
    }
}

.page-content {
    background-color: #F8FCFF;
    min-height: 100vh;
    padding-top: 75px;
}


body {
    background-color: #4A7069;
}
