// Main colors
$color-primary: #4C6B2B;
$color-secondary: #F8FCFF;
$color-bg: #4A7069;
$color-shaded: #86CCBF;

@import "../node_modules/bootstrap/scss/bootstrap";
// Results page
@import "./results";

// Create page
@media (min-width: 992px) {
    .container {
      width: 750px;
    }
  }

.button-submit {
    padding-top: 15px;
    justify-content: right;
}
.list-buttons {
    color: $color-primary;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.form-control {
    border-radius: 0.5rem;
}

.submit-button {
    padding-top: 15px;
}

.list-group-item {
    border-color: $color-primary;
}

.navbar {
    background-color: $color-primary;
    justify-content: center;
    .navbar-brand{
        color: $color-secondary;
    }
}
    
.container {
    background-color: $color-secondary;
    min-height: 100vh;
    padding-top: 75px;
}

.welcome {
    padding: 2rem 1rem;
}

.form-group {
    justify-content: center;
}

body {
    background-color: $color-bg;
}

textarea {
    resize: none;
}
