// Main colors
$color-primary: #4C6B2B;
$color-secondary: #F8FCFF;
$color-bg: #4A7069;
$color-shaded: #86CCBF;
$color-hightlight: #d4edda;
$grey-background: #e9ecef;

@import "../node_modules/bootstrap/scss/bootstrap";
// Results page
// @import "./results";

// Create page
@media (min-width: 992px) {
    .container {
        width: 750px;
    }
}

body {
    background-color: $color-bg;
    
    textarea {
        resize: none;
    }
}


.container {
    background-color: $color-secondary;
    min-height: 100vh;
    padding-top: 75px;
    padding-bottom: 75px;
    
    .button-submit {
        padding-bottom: 15px;
        padding-top: 15px;
    }
    
    .form-group {
        justify-content: center;
        
        .form-control {
            border-radius: 0.5rem;
        }
    }
    
    .jumbotron {
        padding: 1rem 1rem;
        margin-bottom: 1rem;
    }
    
    .links-section {
        padding-top: 1rem;
    }
    
    .list-group-item {
        border-color: $color-primary;
        margin: 5px 0;
        
        .winner {
            background-color: $color-primary;
            color: $color-secondary;
        }
    }
    
    .fa {
        color: $color-primary;
    }
}

.navbar {
    background-color: $color-primary;
    justify-content: center;
    max-height: 50px;
    
    .navbar-brand{
        color: $color-secondary;
    }
}

.footer {
    color: $color-secondary;
}

// Fixes bug between jquery-ui sortable and bootstrap
.ui-sortable-placeholder {
    height: 50px;
}

// Sweet Alert styles
.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #4A7069;
    font-size: 12px;
    border: 1px solid #4C6B2B;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }

  .swal-title {
    // margin: 0px;
    color: #4A7069;
    // font-size: 16px;
    // box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  }


.calendar-text {
    color: $color-primary;
    margin-top: -0.2rem;
}

.winner {
    background-color: $color-hightlight;
}

.voting-list {
    background-color: $grey-background;
}

.gator {
    fill: black;
    height: 50px;
    width: 50px;

}